<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="diskDevice" class="media_player.DiskDevice">
        <property name="title" value="Queen"/>
        <property name="songs">
            <list>
                <value>We will rock you!</value>
                <value>I want to break free</value>
            </list>
        </property>
    </bean>

    <bean id="flashDevice" class="media_player.FlashDevice"/>

</beans>