<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="media_player.ShuffleAnnotationBeanPostProcessor"/>
    <bean class="media_player.BenchmarkAnnotationBeanPostProcessor"/>
    <bean class="media_player.TransactionalAnnotationBeanPostProcessor"/>
    <bean class="media_player.DestroyAndPrototypeBeanFactoryPostProcessor"/>
    <bean class="media_player.deprecated.DeprecatedClassBeanFactoryPostProcessor"/>

    <bean id="queenDisk" class="media_player.Disk">
        <constructor-arg name="title" value="${title}"/>
        <constructor-arg name="songs">
            <list>
                <value>1. We will rock you!</value>
                <value>2. I want to break free</value>
                <value>3. We are the champions</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="diskDevice" class="media_player.DiskDevice" init-method="init"
          destroy-method="sayGoodBye" scope="prototype">
        <property name="disk" ref="queenDisk"/>
    </bean>

    <bean id="flashDevice" class="media_player.FlashDevice">
        <property name="mediaFiles">
            <list>
                <value>StarWars1.avi</value>
                <value>Terminator.mov</value>
            </list>
        </property>
    </bean>

    <bean id="mediaPlayer" class="media_player.MediaPlayer">
        <property name="mediaDevices">
            <list>
                <ref bean="diskDevice"/>
                <ref bean="flashDevice"/>
            </list>
        </property>
    </bean>


</beans>